[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
datadir         = /var/lib/mysql
secure-file-priv= NULL
bind-address = 0.0.0.0
# Custom config should go here
!includedir /etc/mysql/conf.d/
default-authentication-plugin=mysql_native_password
