### Application Path ###################################################################################################
# Point to your code, will be available at `/var/www`.

APPLICATION=../
PORT=8001

